# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
.obsidian/*

# Exclude plugins
.obsidian/plugins/*

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

# Custom

Obsidian_Tips*
Goals*
Motivation*
License*
Excalidraw/*.md
English/*
Workout*
Docs/*
*.png
